@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100vh;
  width: 100%;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Minimal Scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar */
  height: 5px; /* Thin scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.5); /* Light gray thumb */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.8); /* Darker gray on hover */
}

/* Sticky Quill Toolbar */
.ql-toolbar {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  flex-shrink: 0;
}

.text-editor {
  border: none !important;
}
